# The HTTP port to run the application on
PORT=800

# Cloudinary Credentials

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# MongoDB connection string
MONGO_URI=mongodb+srv://user:password@cluster0.hcvtnre.mongodb.net/name

# JWT secret 
JWT_SECRET=WFFWf15115U842UGUBWF81EE858UYBY51BGBJ5E51Q

# The environment to run the application in
NODE_ENV=developement